#jinja2: lstrip_blocks: "True"
[Unit]
Description={{ matrix_instance_id }}-registration
{% for service in matrix_registration_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_registration_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill {{ matrix_instance_id }}-registration 2>/dev/null'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm {{ matrix_instance_id }}-registration 2>/dev/null'

ExecStart={{ matrix_host_command_docker }} run --rm --name {{ matrix_instance_id }}-registration \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_registration_default_docker_network }} \
			{% if matrix_registration_container_http_host_bind_port %}
			-p {{ matrix_registration_container_http_host_bind_port }}:5000 \
			{% endif %}
			--mount type=bind,src={{ matrix_registration_config_path }},dst=/config,ro \
			--mount type=bind,src={{ matrix_registration_data_path }},dst=/data \
			{% if matrix_client_element_add_branding_dir %}
			--mount type=bind,src={{ matrix_client_element_data_path + "/" + matrix_client_element_branding_welcomeBackgroundUrl }},dst=/usr/local/lib/python3.8/site-packages/matrix_registration/static/images/wallpaper.jpg,ro \
			--mount type=bind,src={{ matrix_client_element_data_path + "/" + matrix_registration_custom_style }},dst=/usr/local/lib/python3.8/site-packages/matrix_registration/static/css/style.css,ro \
			{% endif %}
			{% for arg in matrix_registration_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_registration_docker_image }} \
			serve

{% if matrix_registration_additional_docker_networks is defined %}
ExecStartPost={{ matrix_host_command_sleep }} 5
{% for item in matrix_registration_additional_docker_networks %}
ExecStartPost={{ matrix_host_command_docker }} network connect {{ item }} {{ matrix_instance_id }}-registration
{% endfor %}
{% endif %}

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill {{ matrix_instance_id }}-registration 2>/dev/null'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm {{ matrix_instance_id }}-registration 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier={{ matrix_instance_id }}-registration

[Install]
WantedBy=multi-user.target
